#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card-custom {
  padding: 10px;
  width: 300px;
  height: 350px !important;
  margin-bottom: 10px;
  background: rgba(177, 27, 27, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.read-the-docs {
}


.read-the-docs {
  color: #888;
}

.faq-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  background: #0000;
  padding: 0 1rem;
  border-radius: 0 0 6px 6px;
}

.faq-content.open {
  max-height: 200px; /* content অনুযায়ী adjust */
  padding: 1rem;
}

.text-content{
  text-align: justify;
}

.n-link{
  color: #000;
  text-decoration: none;
}

.n-link:hover{
  color: #d13e19f5;
}


nav .active{
  color: #d13e19f5;
}


